@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}
body{
    max-width: 1600px ;
    margin-inline: auto;
}

/* shared classes */
.btn-gradient {
    padding: 12px 16px;
    border-radius:100px;
    color: #FFFFFF;
    background-image: linear-gradient(45deg,#9100F8,#FB09B4,#F7E93F);
}




/* navbre design */

nav{
    /* border: solid red; */
    display: flex;
    justify-content: space-between;  
    background-color: #1A0B2E;
    color: #FFFFFF;
    padding: 16px 200px;
    align-items: center;

}
nav .color-uni{
     background: -webkit-linear-gradient(80deg,#9100F8,#FB09B4,#F7E93F);
   background-clip: text;
  -webkit-text-fill-color: transparent;
}

nav div  {
    display: flex;
    gap: 32px;
    /* border: solid #FFFFFF; */

}  


/* section banner er kaj */

#banner{
    max-width: 1600px ;
    padding-block: 100px;
    display: flex;
    margin-inline: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image:url("./assets/hero-bg.png");
    background-repeat: no-repeat;
    background-position: top center, bottom center;
    
}
.banner-image{
width: 350px;
height: 350px;
   position: relative;
   z-index: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   /* border: 2px solid green; */
}

.microphone-img{
    position: absolute;
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    /* border: 2px solid green; */
}

 #banner h1 {
    font-size:60px;
    font-weight:900;
    color:#f5e6e6;
    margin: 40px auto 8px;
    text-align: center;

}

.banner-content p {

   
}


